@model MetierIdentification.Models.Questionnaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeQuestionnaire.libelleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeQuestionnaire.libelleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.libelleQuestionnaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelleQuestionnaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idQuestionnaire }) |
    @Html.ActionLink("Back to List", "Index")
</p>
