@model IEnumerable<MetierIdentification.Models.Reponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.libelleQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reponse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaire)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.libelleQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reponse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invitation.Prestations.Etablissement.libelleEtablissement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idReponse }) |
            @Html.ActionLink("Details", "Details", new { id=item.idReponse }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idReponse })
        </td>
    </tr>
}

</table>
