@model IEnumerable<MetierIdentification.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libelleQuestion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libelleQuestion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idQuestion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idQuestion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idQuestion })
        </td>
    </tr>
}
    <tr>
        <td><a href="/Reponse/Index?idReponse=1&value=1"><img src="~/images/score_1.png" alt="" /></a></td>
        <td><img src="~/images/score_2.png" alt="" /></td>
        <td><img src="~/images/score_3.png" alt="" /></td>
        <td><img src="~/images/score_4.png" alt="" /></td>
        <td><img src="~/images/score_5.png" alt="" /></td>
        <td><img src="~/images/score_6.png" alt="" /></td>
        <td><img src="~/images/score_7.png" alt="" /></td>
        <td><img src="~/images/score_8.png" alt="" /></td>
        <td><img src="~/images/score_9.png" alt="" /></td>
        <td><img src="~/images/score_10.png" alt="" /></td>
    </tr>
</table>
